# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TicTacToe.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\alus\RiderProjects\TicTacToe\.idea\.idea.TicTacToe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
